@import '@radix-ui/colors/white-alpha.css';
@import '@radix-ui/colors/gray.css';


#Home {
  display: flex;
  flex-grow: 1;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-end;
  background: var(--gray-2);
}

#Home-Topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 10px;
  z-index: 1;
  margin-bottom: 30px;
}

#Home-Profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

#Home-Profile-Name {
  font-weight: 500;
  font-size: 20px;
}

#Home-Quizzes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;
  position: relative;
}

#Home-Quizzes-List-Wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#Home-Quizzes-List {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-content: flex-start;
}

#Home-Quizzes-NewQuiz {
  position: absolute;
  right: 0;
  bottom: 0;
}

#entryList {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 20px 10px;

  gap: 10px;
  z-index: 0;
  width: fit-content;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.RelativeWrapper {
  position: relative;
}

#addButton {
  position: absolute;
  bottom: 60px;
  right: 40px;
}