.HomeViewContainer {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  flex-grow: 1;
}

.TopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 10px 10px;
  gap: 10px;
  justify-content: space-between;
  z-index: 1;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: #4B4B4B;
}

#ProfileName {
  font-weight: 500;
  font-size: 20px;
}

.QuizInfo {
  all: revert;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.SectionHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: black;
  margin: 0;
}

.SectionInfo {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
  margin: 0;
}

#entryList {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 20px 10px;

  gap: 10px;
  z-index: 0;
  width: fit-content;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.RelativeWrapper {
  position: relative;
}

#addButton {
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.Background {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  margin: auto 0;
}

.QuizLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#addButton:hover span {
  display: none;
}
#addButton:hover:before {
  content: "Add term";
}

.StatusBar {
  background-color: #3E63DD;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 16px rgba(62, 99, 221, 0.5);
  font-weight: 500;
  font-size: 1em;
  color: white;
  padding: 8px;
  transition: background-color ease 200ms;
  position: relative;
  z-index: 1;
}

.StatusBar.error {
  background-color: #d97000;
  box-shadow: 0px 0px 16px rgba(217, 112, 0, 0.5);
}