@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/gray.css';

#Quiz {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  align-content: flex-start;
}

#Quiz-Topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 28px;
  gap: 10px;
  justify-content: space-around;
  background: var(--gray-1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-bottom: 2px solid var(--black-a2);
}

#Quiz-Topbar-Info {
  all: revert;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-grow: 1;
}

#Quiz-Entries-Scroll-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  background: var(--gray-2);
  position: relative;
  padding: 18px 28px;
  align-items: center;
}

#Quiz-Entries-Overlay-Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background: var(--gray-2);
  position: relative;
  padding: 0;
}

#Quiz-Entries {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 20px 10px;
  gap: 10px;
  z-index: 0;
  /*width: fit-content;*/
  width: 50%;
}

#Quiz-Topbar-Info-Title {
  font-weight: 600;
  font-size: 24px;
  color: black;
  margin: 0;
}

#Quiz-Topbar-Info-Description {
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
  margin: 0;
}

.RelativeWrapper {
  position: relative;
}

#Quiz-Entries-Add {
  position: absolute;
  bottom: 18px;
  right: 28px;
}

.Background {
  font-weight: 600;
  text-align: center;
  color: var(--gray-10);
  margin: auto 0;
}

#QuizRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#QuizLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#SaveState {
  font-weight: 500;
  font-style: italic;
  color: rgba(0, 0, 0, 0.67);
  padding: 0 12px;
}

.StatusBar {
  background-color: #3E63DD;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 16px rgba(62, 99, 221, 0.5);
  font-weight: 500;
  font-size: 1em;
  color: white;
  padding: 8px;
  transition: background-color ease 200ms;
  position: relative;
  z-index: 1;
}

.StatusBar.error {
  background-color: #ec474c;
  box-shadow: 0px 0px 16px rgb(236, 71, 76);
}


/*.SectionHeader {*/
/*  font-style: normal;*/
/*  font-weight: 500;*/
/*  font-size: 24px;*/
/*  color: black;*/
/*  margin: 0;*/
/*}*/

/*.SectionInfo {*/
/*  font-style: normal;*/
/*  font-weight: 500;*/
/*  font-size: 16px;*/
/*  color: #4B4B4B;*/
/*  margin: 0;*/
/*}*/

